.footer-wrapper {
  list-style: none;
  @extend %container-style;
  margin-top: 0;
  margin-bottom: 0;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  @media screen and (max-width: 769px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding-bottom: 10px;
  }
  @media screen and (max-width: 478px) {
    grid-template-columns: 1fr;
    padding-bottom: 10px;
  }
  @media screen and (max-height: 479px) and (min-width: 478px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding-bottom: 10px;
  }
}

.footer {
  width: 100%;
  margin-top: 40px;
  box-shadow: 0px -5px 10px -10px rgba(0, 154, 216, 1);
  position: sticky;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: inherit;
  z-index: 100;
  @media screen and (max-width: 768px) {
    position: relative;
  }
  @media screen and (max-height: 479px) {
    position: relative;
  }
  transform: translateY(100%);
}

.footer.visible {
  animation-name: appear-footer;
  animation-duration: 500ms;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: forwards;
}

.footer.visible .footer-link-item:nth-child(2n) {
  animation-name: appear-footer;
  animation-duration: 250ms;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: forwards;
  animation-delay: 600ms;
}
.footer.visible .footer-link-item:nth-child(2n + 1) {
  animation-name: appear-footer;
  animation-duration: 250ms;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-fill-mode: forwards;
  animation-delay: 500ms;
}

.footer-link-item {
  transform: translateY(100%);
  height: auto;
  @media screen and (max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  @media screen and (min-width: 769px) {
    max-height: 100px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  @media screen and (max-width: 478px) {
    display: flex;
    align-items: center;
    text-align: center;
  }
  @media screen and (max-height: 480px) {
    max-height: 100%;
  }
}

.team-item-photo {
  @extend %img-style;
  min-width: 65px;
  min-height: 65px;
  max-width: 70px;
  max-height: 70px;
  border-radius: 50%;

  box-shadow: 0px 0px 10px 0px rgba(0, 154, 216, 1);
  overflow: hidden;
  @media screen and (min-height: 480px) and (min-width: 768px) {
    transform: translateY(0);
  }
}

.footer-link__about {
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  min-width: 200px;
  background-color: $main-color;
  color: $hover-color;
  box-shadow: 0px 0px 23px 0px rgba(0, 154, 216, 1);
  border-radius: 5%;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transform: translateY(-130%);
  transition: all $animation-timing;
  pointer-events: none;
  @media screen and (max-width: 478px) {
    flex-grow: 1;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 16px;
    box-shadow: none;
    .developer-name {
      margin: 0;
      margin-bottom: 5px;
    }
    .developer-made {
      margin: 0;
    }
  }
  @media screen and (max-width: 769px) {
    opacity: 1;
    z-index: 0;
    transform: none;
    visibility: initial;
  }
  @media screen and (max-height: 480px) {
    opacity: 1;
    z-index: 0;
    transform: none;
    visibility: initial;
  }
}

.footer-link__image {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  // flex-direction: column;
  transition: scale $animation-timing;
  padding-bottom: 0;
  @media screen and (max-height: 479px) and (min-width: 478px) {
    transform: translateY(25px);
  }
  @media screen and (max-width: 478px) {
    display: inline-flex;
    transform: translateY(0);
    transform: translateX(5px);
    width: 20%;
    z-index: 1;
  }
  @media screen and (max-width: 768px) and (min-width: 478px) {
    display: inline-flex;
    transform: translateY(25px);
    // transform: translateX(0);
  }

  @media screen and (min-width: 769px) and (min-height: 480px) {
    &:hover,
    &:focus {
      ~ .footer-link__about {
        opacity: 1;
        z-index: 0;
        transform: translateY(-180%);
        visibility: visible;
      }
    }
  }
}

.svg {
  width: 18px;
  height: 18px;
  border-radius: 40%;
  position: absolute;
  transform: translateX(20px);
  background-color: $main-color;
  background-image: url('../images/footer/linkedin.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

body.light-theme .footer-link__about {
  background-color: $white-color;
}

.main {
  @media screen and (max-width: 1279px) {
    min-height: 300px;
  }
  @media screen and (min-width: 1280px) {
    min-height: 412px;
  }
}

@keyframes appear-footer {
  0% {
    transform: translateY(100%);
    // transform: scale(0.1);
    opacity: 0.3;
  }

  100% {
    transform: translateY(0);
    // transform: scale(1);
    opacity: 1;
  }
}
