body {
  font-family: "Roboto", sans-serif;
}

.header-nav__link {
  display: inline-block;
  outline: none;
  background-color: transparent;
  text-decoration: none;
  padding: 5px 25px;
  border: 2px solid transparent;
  border-radius: 20px;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  color: #009ad8;
  font-weight: 500;
}

.header-nav__link:hover, .header-nav__link:focus {
  border: 2px solid #009ad8;
}

.header-button {
  display: inline-block;
  outline: none;
  border: 2px solid #009ad8;
  background-color: #009ad8;
  padding: 5px 25px;
  border-radius: 20px;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  color: #1e202b;
  font-weight: 500;
  cursor: pointer;
}

.header-button:hover {
  -webkit-box-shadow: 0px 0px 23px 0px #009ad8;
          box-shadow: 0px 0px 23px 0px #009ad8;
}

.header-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 479px) {
  .header-container {
    max-width: 450px;
  }
}

@media screen and (min-width: 480px) {
  .header-container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .header-container {
    width: 1280px;
  }
}

.header-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-icon {
  display: block;
}

@media screen and (max-width: 767px) {
  .header-icon {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .header-icon {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .header-icon {
    width: 50px;
    height: 50px;
    margin-right: 0;
  }
}

.header-input {
  outline: none;
  width: 250px;
  padding: 5px 25px;
  border-radius: 20px;
  border: 2px solid #1e202b;
  margin-right: 10px;
  -webkit-transition: border 0.2s ease-in;
  transition: border 0.2s ease-in;
  text-align: center;
}

.header-input:focus {
  border: 2px solid #009ad8;
}

@media screen and (max-width: 1279px) {
  .header-input {
    margin-bottom: 10px;
  }
}

.header-nav {
  position: relative;
}

.header-nav__swipe {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: block;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media screen and (min-width: 1280px) {
  .header-nav__swipe {
    display: none;
  }
}

.header-nav__link {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .header-nav__link {
    font-size: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .header-nav__link:not(:last-child) {
    margin-right: 10px;
  }
}

@media screen and (max-width: 767px) {
  .header-nav {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1279px) {
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 2px solid #009ad8;
    border-radius: 20px;
    padding-top: 65px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow-x: scroll;
    height: 90px;
    -webkit-box-shadow: 0px 0px 23px 0px #009ad8;
            box-shadow: 0px 0px 23px 0px #009ad8;
  }
}

body {
  background-color: #1e202b;
}

@media screen and (max-width: 767px) {
  .header-search__container {
    margin-top: 20px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media screen and (max-width: 1279px) {
  .header-search__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=main.css.map */