<div class="maps">
  <ul class="maps-buttons">
    <li><button data-layer="remove">Delete layers</button></li>
    <li>
      <button data-layer="ftemperatures">Temperature forecast</button>
    </li>
    <li><button data-layer="fhumidity">Humidity forecast</button></li>
  </ul>
  <div id="map" class="map"></div>
  <a href="https://www.windy.com/" target="blank" class="more-maps-link">More weather maps you can fin here!</a>
</div>