<div class="maps">
  <ul class="maps-buttons">
<<<<<<< HEAD
    <li><button data-layer="remove">Delete layers</button></li>
    <li>
      <button data-layer="ftemperatures">Temperature forecast</button>
    </li>
    <li><button data-layer="fhumidity">Humidity forecast</button></li>
  </ul>
  <div id="map" class="map"></div>
  <a href="https://www.windy.com/" target="blank" class="more-maps-link">More weather maps you can fin here!</a>
</div>
=======
    <li><button data-layer="remove">Видалити шари</button></li>
    <li>
      <button data-layer="ftemperatures">Температурний прогноз</button>
    </li>
    <li><button data-layer="fhumidity">Прогноз вологості</button></li>
    </ul>
  <div id="map" class="map"></div>
  <a href="https://www.windy.com/" target="blank" class="more-maps-link"
    >Більше погодних карт ви можете зайти тут!</a
  >
</div>
>>>>>>> 8b4f5d67aa31eeadcbb67776d8b36d5bec6d8fa3
