<div class="header-container">
    <div class="header-icon__container">
     <a class="header-logo" href="/">FreeWebWeather</a>
     <img class="header-icon" src="../images/header/icloud.svg" alt="cloud">
    </div> 
    <div class="header-search__container">
    <input class="header-input" type="text" placeholder="Input city or country name">
    <button class="header-button">Search</button>
</div>
<nav class="header-nav">
    <a href="/" class="header-nav__link">Home</a>
    <a href="/forecast" class="header-nav__link">3 days weather</a>
    <a href="/news" class="header-nav__link">News</a>
    <a href="/photo" class="header-nav__link">Photo</a>
    <a href="/maps" class="header-nav__link">Maps</a>    
    <img class="header-nav__swipe" src="../images/header/sitepoint.svg" alt="arrows">
</nav>
</div>
